Repository pfitaxel/learn-ocaml.el, pull requests merged in 2021-08, with the labels that each got.

#20 Login with (email, passwd) in lieu of a token & Display exercise-score & Migrate CI to GHA
  .github/workflows/test.yml
  .gitignore
  .travis.yml
  Makefile
  README.md
  learn-ocaml.el
  run_emacs_image.sh
  run_test_backend.sh
  run_tests.sh
  stop_emacs_image.sh
  stop_test_backend.sh
  test.sh
  tests/001-common/Makefile
  tests/001-common/runtests.el
  tests/002-use-token/Makefile
  tests/002-use-token/runtests.el
  tests/003-use-passwd/Makefile
  tests/003-use-passwd/runtests.el
  tests/README.md
  tests/learn-ocaml-tests.el
  tests/use_passwd.json
Labels: feature

#22 Extend ERT-based CI
  tests/001-common/runtests.el
  tests/002-use-token/runtests.el
  tests/003-use-passwd/runtests.el
  tests/README.md
  tests/learn-ocaml-tests.el
Labels: infrastructure, tests

#23 Setup ert-problem-matcher
  .github/ert.json
  .github/workflows/test.yml
Labels: infrastructure, tests

#24 Strenghten tests - Add a server "secret" in the test environment
  learn-ocaml.el
  run_test_backend.sh
  run_tests.sh
  tests/002-use-token/runtests.el
  tests/003-use-passwd/runtests.el
  tests/README.md
  tests/learn-ocaml-tests.el
  tests/use_passwd.json
  tests/use_token.json
Labels: tests

#25 test: Tweak details regarding confirm.txt
  tests/learn-ocaml-tests.el
Labels: tests
